[defaults]
inventory = inventory/netbox.yml
stdout_callback = discovery_results
callback_plugins = plugins/callback
host_key_checking = True
retry_files_enabled = False
gathering = explicit
forks = 5
interpreter_python = auto_silent

[inventory]
unparsed_is_failed = True
any_unparsed_is_failed = True

[ssh_connection]
pipelining = True
