ansible==12.3.0
ansible-core==2.19.7
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
cryptography==50.0.1
hvac==2.3.0
idna==3.19
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==26.3
pycparser==3.0
pynetbox==7.5.0
pytz==2025.2
PyYAML==6.0.3
requests==2.34.2
resolvelib==1.2.1
urllib3==2.7.0
